/* reglages generaux */

* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*::selection {
    background: rgb(184, 167, 167);
    color: rgb(23, 9, 9);
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    color: white;

}

/*  debut style de la nabar */

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid silver;

}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

img {
    width: 50px;
    height: 50px;
    border: 1px solid pink;
    border-radius: 50%;
}

/* fin de style de lla navbar */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid pink;
    border-radius: 20px;
}

header {
    display: contents;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}


button a {
    background-color: rgba(74, 74, 213, 0.5);
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}





/*le footer*/

footer {
    /* display: flex; */
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid silver;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    background-color: white;

}

.desc {
    display: flex;
    justify-content: space-between;

    text-align: justify;

}

.descs {
    padding: 10px;
    margin: 20px;
    border-left: 2px solid pink;
}

.social-media {
    display: flex;
    justify-content: space-between;
}

i {
    margin: 10px;
    padding: 10px;
    border: 1px solid pink;
    border-radius: 50%;
    cursor: pointer;
    color: rgba(173, 142, 142);
}

.num {
    color: black;
}

/* 
hr {
    color: rgb(199, 22, 22);
    width: 80%;
    height: .1rem;
} */